#bootstrap-overrides h1#sccs-head {
	font-size: 40px;
}

div#sidebar {
	/*background-color: #d9d9d9;*/
	border: 1px solid orange;
}

a.service-button, a.service-button {
	color: black;
	background-color: orange;
}

