---
layout: default
title: Home
permalink: /
services:
  - name: Cygnet
    url: https://cygnet.sccs.swarthmore.edu/
    description: >
      A Swarthmore College student directory. Search by name, year, or dorm.
  - name: Dashboard
    url: https://guts.sccs.swarthmore.edu/dash/
    description: >
      The starting point for all the features that come with an SCCS account.
  - name: Reserved Students Digest
    url: https://rsd.sccs.swarthmore.edu/
    description: >
      A listing of campus news, events, jobs, and more.
  - name: GPA Calculator
    url: http://gpacalc.sccs.swarthmore.edu/
    description: >
      A fast and easy GPA calculator for Swarthmore students.
  - name: Course Scheduler
    url: https://schedule.sccs.swarthmore.edu/
    description: >
      A visual way to plan out your classes for the next semester.
  - name: Airpool
    url: https://airpool.sccs.swarthmore.edu/
    description: >
      A tool for Swatties to organize carpools to and from the Philadelphia airport during breaks.
  - name: <b>New! </b>Sites
    url: https://sites.sccs.swarthmore.edu/
    new: T
    description: >
      Create websites using Wordpress. No coding experience necessary.
---

<div id="content" class="container">
  <header>
    <h1 id="sccs-head">Swarthmore College Computer Society</h1>
  </header>

  <section>
    <h2>Welcome!</h2>

    <p>We're a collective of student volunteers who maintain digital services for
    Swarthmore students, staff, and alumni.</p>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			{% for service in page.services %}
			{% if service.name == "Dashboard" %}
			<button class="service-button" onclick="location.href='{{ service.url }}';">
				<h4>{{ service.name }}</h4>
				<p>{{ service.description }}</p>
			</button>
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-6 col-md-8">
			<p> 
							The Dashboard link is our main controller for many of the features we support with a SCCS account. This page allows you to 
			<strong>
				create listservs, databases, access your current lists, and change your password
			</strong>
			. For any questions you may contact us at <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swathmore.edu</a> or visit our FAQs page for the most asked questions.
			</p>	
		</div>
	</div>
  </section>

  <section>
    <h2>Announcements</h2>
    {% for post in site.posts limit:5 %}
      <section class="announcement">
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <p class="post-date">{{ post.date | date: "%A, %B %-d, %Y"}}</p>
      </section>
    {% endfor %}
  </section>

  <section>
    <h2>Services</h2>
    <div class="row match-cols">
    {% for service in page.services %}
	  {% unless service.name == "Dashboard" %}	
      <div class="col-xs-6 col-md-4">
        <button class="{% if service.new %}newService {% endif %}service-button" onclick="location.href='{{ service.url }}';">
          <h4>{{ service.name }}</h4>
          <p>{{ service.description }}</p>
        </button>
      </div>
      {% endunless %}
    {% endfor %}
    </div>
  </section>
</div>
