---
layout: default
title: Home
permalink: /
services:
  - name: Reserved Students Digest
    url: https://rsd.sccs.swarthmore.edu/
    description: >
      A listing of campus news, events, jobs, and more.
  - name: Cygnet
    url: https://cygnet.sccs.swarthmore.edu/
    description: >
      A Swarthmore College student directory. Search by name, year, or dorm.
  - name: Dashboard
    url: https://guts.sccs.swarthmore.edu/dash/
    description: >
      The starting point for all the features that come with an SCCS account.
---

<div id="content" class="container">
  <header>
    <h1 id="sccs-head">Swarthmore College Computer Society</h1>
  </header>

  <section>
    <h2>Welcome!</h2>

    <p>We're a collective of student volunteers who maintain digital services for
    Swarthmore students, staff, and alumni.</p>

    <p>Have a problem? Contact us at
    <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swarthmore.edu</a>.
    </p>
  </section>

  <section>
    <h2>Announcements</h2>
    {% for post in site.posts limit:5 %}
      <section class="announcement">
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <p class="post-date">{{ post.date | date: "%A, %B %-d, %Y"}}</p>
      </section>
    {% endfor %}
  </section>

  <section>
    <h2>Services</h2>
    <div class="row match-cols">
    {% for service in page.services %}
      <div class="col-xs-6 col-md-4">
        <button class="service-button" onclick="location.href='{{ service.url }}';">
          <h4>{{ service.name }}</h4>
          <p>{{ service.description }}</p>
        </button>
      </div>
    {% endfor %}
    </div>
  </section>
</div>
