<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>SCCS{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/images/favicon.png"/>
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/styles.css">
</head>
