{% comment %} _includes/head.html {% endcomment %}

<head>
  {% include base.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>SCCS{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="shortcut icon" type="image/png" href="{{ base }}/images/favicon.png"/>
  <link rel="stylesheet" href="{{ base }}/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{ base }}/css/styles.css">

	<script async defer data-domain="sccs.swarthmore.edu" src="https://plausible.sccs.swarthmore.edu/js/pls.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  </style>
</head>
