---
layout: default
title: Services 
permalink: /services/
services:
  - name: Cygnet
    url: https://cygnet.sccs.swarthmore.edu/
    description: >
      A Swarthmore College student directory. Search by name, year, or dorm.
  - name: Dashboard
    url: https://guts.sccs.swarthmore.edu/dash/
    description: >
      The starting point for all the features that come with an SCCS account.
  - name: Reserved Students Digest
    url: https://rsd.sccs.swarthmore.edu/
    description: >
      A listing of campus news, events, jobs, and more.
  - name: GPA Calculator
    url: http://gpacalc.sccs.swarthmore.edu/
    description: >
      A fast and easy GPA calculator for Swarthmore students.
  - name: Course Scheduler
    url: https://schedule.sccs.swarthmore.edu/
    description: >
      A visual way to plan out your classes for the next semester.
  - name: Airpool
    url: https://airpool.sccs.swarthmore.edu/
    description: >
      A tool for Swatties to organize carpools to and from the Philadelphia airport during breaks.
  - name: <b>New! </b>Sites
    url: https://sites.sccs.swarthmore.edu/
    new: T
    description: >
      Create websites using Wordpress. No coding experience necessary.
---

<div id="content" class="container">
  <h1>Services</h1>

  <section>
    <div class="row match-cols">
    {% for service in page.services %}
	  {% unless service.name == "Dashboard" %}
      <div class="col-xs-6 col-md-4">
        <button class="{% if service.new %}newService {% endif %}service-button" onclick="location.href='{{ service.url }}';">
          <h4>{{ service.name }}</h4>
          <p>{{ service.description }}</p>
        </button>
      </div>
      {% endunless %}
    {% endfor %}
    </div>
  </section>
</div>
