$sccs-orange: #f46336;
$sccs-blue: #31425f;
$sccs-light-orange: #fbd9b6;
$sccs-light-blue: #bcccdc;
$border-gray: #dddddd;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 5rem; // Change this when lines are added to footer
}

.container {
  max-width: 801px;
}

#header-nav {
  border-radius: 0;
  border: none;
  border-bottom: solid #dddddd 1px;
  text-shadow: none;
  background-color: $sccs-blue;
  #logo {
    max-height: 100%;
  }
  #nav-links {
    a {
      color: white;
    }
    a.active {
      color: $sccs-orange;
    }
    a:hover {
      background-color: $sccs-orange;
      color: white;
    }
  }
  button.navbar-toggle {
    border: none;
    background-color: inherit;
    &:hover {
      background-color: $sccs-orange;
    }
    .icon-bar {
      background-color: white;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $sccs-blue;
}

#content {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
    &:link, &:visited {
      color: black;
    }
    &:hover {
      color: $sccs-orange;
    }
  }
  section:not(:first-of-type) { 
    border-top: 0.5px solid $border-gray;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  //border-top: 0.5px solid $sccs-blue;
  background-color: $sccs-light-blue;
  padding-top: 5px;
}

