div.match-cols {
  overflow: hidden;
  [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

.service-button {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid $sccs-blue;
  background-color: $sccs-light-blue;
  color: black;
  text-align: left;
}

.service-button:hover {
  background-color: $sccs-light-orange;
}
