$post-date-color: #909090;

.announcement {
  code {
    word-wrap: break-word;
  }
}

p.post-date {
  color: $post-date-color;
  font-size: 0.8em;
}

.service-button {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid $sccs-blue;
  background-color: $sccs-light-blue;
  color: black;
  text-align: left;
}

.service-button:hover {
  background-color: $sccs-light-orange;
}
