.service-button {
  margin-bottom: 15px;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid $sccs-blue;
  background-color: $sccs-light-blue;
  color: black;
  text-align: left;
}

.service-button:hover {
  background-color: $sccs-light-orange;
}
