{% extends 'base.html' %}

{% block title %}SCCS - FAQs{% endblock %}

{% block nav-faqs %}<a class="active" href="{% url 'faqs' %}">FAQs</a>{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="row">
      <h4>Q: How do I reset my SCCS password?</h4>
      <p>A: Go to
        <a href="https://guts.sccs.swarthmore.edu/user/password/change/">this link</a>.
      </p>
    </div>

    <div class="row">
      <h4>Q: I haven't used my account for a while, and can't log in. What's the problem?</h4>
      <p>A: Our services are set up to temporarily deactivate the accounts of users who
      haven't logged in for a while. Email us at <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swarthmore.edu</a> and we'll be happy to restore your account.
      </p>

    </div>
  </div>

  
{% endblock %}
