{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}SCCS{% endblock %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav-home %}<a class="active" href="{% url 'home' %}">Home</a>{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="sccs-head">Swarthmore College Computer Society</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2>Welcome!</h2>

        <p>We're a collective of student volunteers who maintain digital services for 
        Swarthmore students, staff, and alumni.</p>

        <p>Have a problem? Contact us at 
          <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swarthmore.edu</a>.</p>
        
        <h2>Services</h2>
        <div class="row">
          <a class="service-button" href="https://rsd.sccs.swarthmore.edu/new/">
            <div class="col-sm-4">
              <div class="well well-small">
                Reserved Students Digest
              </div>
            </div>
          </a>

          <a class="service-button" href="https://cygnet.sccs.swarthmore.edu/">
            <div class="col-sm-4">
              <div class="well well-small">
                Cygnet
              </div>
            </div>
          </a>

          <a class="service-button" href="https://guts.sccs.swarthmore.edu/dash/">
            <div class="col-sm-4">
              <div class="well well-small">
                GUTS Dashboard
              </div>
            </div>
          </a>
        </div>
      </div>

      <div id="sidebar" class="col-sm-3">
        <p>
          <h4>Our Staff</h4>

          <strong>Class of 2017</strong>
          <ul>
            <li>Simon Bloch</li>
            <li>Anna Jensen</li>
          </ul>

          <strong>Class of 2018</strong>
          <ul>
            <li>Clare Hanlon</li>
            <li><a href="http://oliver-newman.github.io/">Oliver Newman</a></li>
            <li>Alex Mandel</li>
            <li>Owen Kephart</li>
          </ul>

          <strong>Class of 2019</strong>
          <ul>
            <li>Wistan Chou</li>
            <li>Tobin Feldman-Fitzthum</li>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
