{% extends 'base.html' %}

{% block title %}SCCS{% endblock %}

{% block nav-home %}<a class="active" href="{% url 'home' %}">Home</a>{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>Swarthmore College Computer Society</h1>
    </div>
    <div class="col-sm-8">
      <h2>Welcome!</h2>

      <p>We're a collective of student volunteers who maintain digital services for 
      Swarthmore students, staff, and alumni.</p>

      <p>Have a problem? Contact us at 
      <a href="mailto:staff@sccs.swarthmore.edu">staff@sccs.swarthmore.edu</a>.</p>
      
      <h2>Services</h2>
      <p>
        <a href="https://rsd.sccs.swarthmore.edu/new/">Reserved Students Digest</a>
      <p>
      </p>
        <a href="https://cygnet.sccs.swarthmore.edu/">Cygnet</a>
      <p>
      </p>
        <a href="https://guts.sccs.swarthmore.edu/dash/">GUTS Dashboard</a>
      </p>
    </div>

    <div class="col-sm-4">
      <p>
        <h4>Our Staff</h4>

        <strong>Class of 2017</strong>
        <ul>
          <li>Simon Bloch</li>
          <li>Anna Jensen</li>
        </ul>

        <strong>Class of 2018</strong>
        <ul>
          <li>Clare Hanlon</li>
          <li><a href="http://oliver-newman.github.io/">Oliver Newman</a></li>
          <li>Alex Mandel</li>
          <li>Owen Kephart</li>
        </ul>

        <strong>Class of 2019</strong>
        <ul>
          <li>Wistan Chou</li>
          <li>Tobin Feldman-Fitzthum</li>
      </p>

    </div>
  </div>
{% endblock %}
